@font-face {
    font-family: 'game_font';
    src: url('../../font-files/NotoSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'game_font';
    src: url('../../font-files/NotoSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}